:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --button-bg-color: #ff0600;
  --button-bg-hover: #ff4f45;
  --button-fg-color: #ffffff;
}

.ns-framer {
  max-width: 1080px;

  main {
    display: block;
    width: 100%;
    aspect-ratio: 1080 / 1350;
    position: relative;
    overflow: hidden;
  }

  .ns-overlay {
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  .ns-image {
    cursor: grab;
  }

  .ns-image.is-dragging {
    cursor: grabbing;
  }

  .ns-preview {
    width: 100%;
    filter: grayscale();
    opacity: 0.5;
  }

  .ns-render {
    position: fixed;
    width: 1080px;
    height: 1350px;
    left: -1200px;
  }

  main img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  form {
    display: block;
    margin-top: 1.5rem;
  }

  form[hidden] {
    display: none;
  }

  fieldset {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    margin-bottom: 1.5rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .ns-scale {
    width: 100%;
  }

  .ns-button,
  form button {
    all: unset;
    display: inline-block;
    background-color: var(--button-bg-color);
    color: var(--button-fg-color);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .ns-button:hover,
  form button:hover {
    background-color: var(--button-bg-hover);
  }
}
